/*------------------------------ STRUTTURA --------------------------------*/
html {
	margin: 0px;
	padding: 0px;
	height:100%; /*altezza*/
	font-family: arial,sans-serif; /*nel caso non disponibile arial*/
	font-size: 76%; /*rimpicciolisce tutte le scritte del sito,in generale tutto più piccolo*/
}

body {
	margin: 0px auto 0px;
	padding: 0px;
	height:100%;
	overflow:hidden; /*nascondi ciò che non si riesce a vedere a schermata, compare la barra di scorrimento*/
	background-color:#B22222;
}

.container {
	height:100%;
	display: flex; /* sto dicendo che il testo contenuto in container viene prostato come se fosse un qualcosa di flessibile e non un blocco unico*/
	flex-direction:column;/* direzione lungo la quale il testo dovrà essere flessibile*/
	/*flex-direction:row; mette tutti i div all'interno del div container in riga*/
	/*flex-direction:column-reverse; mette tutti i div all'interno del div container in ordine opposto*/
	background-color:#FFFFFF;
}

.h1 {
	width:80%;
	margin:0px auto;
	padding:5% 0% 0% 0%;
	background: url("img/sfondoscroller.svg") top center;
	
}

.scroller {
	width:80%;
	margin:0px auto;
	height:100%;
	overflow:overlay; /*quando il contenuto della pagina nn ci stà nella pagina allora lo fa scorrere, è quello di default*/
	overflow-x: overlay;/*la stessa cosa in orizzontale*/
	padding-top:2%;
	background: url("img/sfondoscroller.svg") top center;
}

.tdbutton {
	text-align:center;
}

.footer {
	background-color:#4146d8;
	color:#F8F8FF;
	text-align:right;
	padding-right:2%;
}

/*------------------------------ NAV BAR --------------------------------*/

ul {
	margin:0px;
	padding:0px;
	width:100%; /*prende tutta la lunghezza*/
	position:fixed; /*resta fermo mentre scorro il sito*/
	background-color:#4146d8;
	list-style-type:none;
}

li a {
	text-decoration: none;
	text-align: center;
	padding: 14px 20px;
	background-color:#4146d8;
	color:#F8F8FF;
	float:left;
}

li a:hover {
	background-color:#4176E8;
}

/*------------------------------ TESTO:SCROLLER --------------------------------*/

h1 {
	font-weight:bold; /*consistenza carattere:normal bold bolder lighter*/
	font-size:26px;/*grandezza carattere*/
	font-style:normal;/*stule carattere: normal/default italic/corsivo */
	text-align: center; /*scrive in centro*/
	color: #B22222;
}

h2 {
	font-weight:lighter;
	font-size: 19px;
	font-style:italic;/*stule carattere: normal/default italic/corsivo */
	color: #B22222;
	padding-left:2%;
}

p {
	font-size: 13px;
	padding-left:2%;
}

.s_voto{
	font-size: 22px;
	font-style:italic;
	text-align: center;
}

.in_rec{
	width:800px;
	height:300px;
}

/*------------------------------ TAB:SCROLLER --------------------------------*/

.tableh { 
    width: 95%;
	border-collapse: collapse;
    margin: auto;
}

th {
	border-top: solid #303030;
	border-bottom: solid #303030;
	font-size:25px;
	padding: 10px 0px;
}

tbody {
	margin-bottom: 20px;
}

td {
    padding: 6px 5px;
	border:collapse;
}

.td {
	width:50%;
}

tr {
	border-bottom: 2px solid #303030;
}

.lastrow {
	border-bottom:0px;
}

#col-vuota {
	border-right:solid;
	width:45%;
}

/*------------------------------ PARTICOLARI --------------------------------*/

button {
	background-color: #B22222;
	color: #700000;
	width: 50%;
	height: 100%;
	border: solid 3px #303030;
	margin: 2% 3%;
	padding: 5px;
}

button:hover {
	color: #FFFFFF;
	background-color: #900000;	
}

.tdbutton {
	text-align:center;
}

img {
	width: 20%;
	margin-top:-11%;
}

#imgh1 {
	width:5%;
	align:left;
}

/*------------------ TASTI FORM-----------------*/

input, select {
	background-color: #EEEEFF;	
	margin-left: 5px;	
	margin-right: 25px;
	border-color: #02365A;
	border-width: 1px;
	border-style: solid;
	height: 20px;
}

input {
	width: 20%;
}

.inputbutton {
	text-align: center;
	font-size: 24px;
	background-color: #B22222;
	color: #700000;
	width: 20%;
	height: 100%;
	border: solid 3px #303030;
	margin: 5% 40%;
	padding: 10px;
}

.i1 {
	width: 8%;
	padding-right:0px;
	margin: 4px 4px;
}

.i2 {
	width: 100%;
}

.inputbutton:hover {
color: #FFFFFF;
background-color: #900000;	
}

/*------------------ JAVA SCRIPT -----------------*/

.error {
	background-color: #FFEEEE;	
	border-color: red;
	border-width: 2px;
	border-style: solid;
	width: 100%;
}

.ok {
	background-color: #EEFFEE;	
	border-color: green;
	border-width: 2px;
	border-style: solid;
	width: 100%;	
}

.error2 {
	background-color: #FFEEEE;	
	border-color: red;
	border-width: 2px;
	border-style: solid;
	width: 8%;
	padding-right:0px;
	margin: 4px 4px;
}

.ok2 {
	background-color: #EEFFEE;	
	border-color: green;
	border-width: 2px;
	border-style: solid;
	width: 8%;
	padding-right:0px;
	margin: 4px 4px;	
}