<!DOCTYPE html>
<html>
<head>        
	<meta charset="utf-8">
    <title>PAGINA DEL SITO</title>
	<link rel="stylesheet" href="{{  url_for('static', filename = 'style_lista.css') }}" type="text/css" media="all"/>
</head>
<body>
	<div class="container">
		<div class="header">
			<ul>
				<li><a href="home">&#10162 Home</a></li>
				<li><a href="lista">&#10162 Lista</a></li>
				<li><a href="download">&#10162 Download</a></li>
			</ul>
		</div>
		<h1 class="h1">ISCRIZIONE</h1>
		<div class="scroller">
			<h3>{{ dati }}</h3>
			<h2>Scarica questo codice e sostituisci il numero sensore al suo interno, file SensorClient.py</h2>
			<h3>https://storage.cloud.google.com/file_progetto/CleanClient.py</h3>
			<h2>file di funzionamento client haarcascade_frontalface_default.xml</h2>
			<h3>https://storage.cloud.google.com/file_progetto/haarcascade_frontalface_default.xml</h3>
			<h2>file guida read_to_start.txt</h2>
			<h3>https://storage.cloud.google.com/file_progetto/read_to_start.txt</h3>
			<h2>codice secret.py</h2>
			<h3>https://storage.cloud.google.com/file_progetto/secret.py</h3>
		</div>
		<div class="footer">
			<p>copyright &#169 </p>
		</div>
	</div>
</body>