<!DOCTYPE html>
<html>
<head>        
	<meta charset="utf-8">
    <title>PAGINA DEL SITO</title>
	<link rel="stylesheet" href="{{  url_for('static', filename = 'style_lista.css') }}" type="text/css" media="all"/>
</head>
<body>
	<div class="container">
		<div class="header">
			<ul>
				<li><a href="home">&#10162 Home</a></li>
				<li><a href="lista">&#10162 Lista</a></li>
				<li><a href="download">&#10162 Download</a></li>
			</ul>
		</div>
		<h1 class="h1">ISCRIZIONE</h1>
		<div class="scroller">
			<h3>{{ dati }}</h3>
			<h3>Questo link ti porta alla guida da seguire per ottenere i file necessari</h3>
			<a href="https://storage.cloud.google.com/file_progetto/read_to_start.txt">link 1</a>
			<h3>Scarica questo codice e sostituisci il numero sensore al suo interno, file da chiamare SensorClient.py</h3>
			<a href="https://storage.cloud.google.com/file_progetto/CleanClient.py">link 2</a>
			<h3>file necessario per il funzionamento del client, file da chiamare haarcascade_frontalface_default.xml</h3>
			<h3>usa ctrl+a per selezionare tutto e dopo aver incollato elimina la prima riga non appartenente al codice</h3>
			<h3>sostituendola con la seguente: < ?xml version="1.0"? >   (elimina gli spazi dopo < e prima di >)    </h3>
			<a href="https://storage.cloud.google.com/file_progetto/haarcascade_frontalface_default.xml">link 3</a>
			<h3>file necessario per il funzionamento del client, file da chiamare secret.py</h3>
			<a href="https://storage.cloud.google.com/file_progetto/secret.py">link 4</a>
		</div>
		<div class="footer">
			<p>copyright &#169 </p>
		</div>
	</div>
</body>