<!DOCTYPE html>
<html>
<head>        
	<meta charset="utf-8">
    <title>PAGINA DEL SITO</title>
	<link rel="stylesheet" href="{{  url_for('static', filename = 'style_lista.css') }}" type="text/css" media="all"/>
</head>
<body>
	<div class="container">
		<div class="header">
			<ul>
				<li><a href="home">&#10162 Home</a></li>
				<li><a href="lista">&#10162 Lista</a></li>
				<li><a href="login">&#10162 Login</a></li>
			</ul>
		</div>
		<h1 class="h1">TITOLO</h1>
		<div class="scroller">
			<div class="h3">Parole a caso per il body spiegazione del progetto e cosa fa e funzionalità!!!!</div>
		</div>
		<div class="footer">
			<p>copyright &#169 </p>
		</div>
	</div>
</body>